# 가상환경
dms_env/

# 데이터셋 (용량 큼)
**/WIDER_val/
**/WIDER_val.zip
**/calib_*/
dataset/infer_data

# 로그
*.log
**/logs/
**/.install_logs/

# Python 캐시
__pycache__/
*.pyc

# STM32 CubeIDE 빌드 산출물 및 라이브러리 제외
**/Debug/
**/Release/
*.elf
*.bin
*.map
*.o
*.su
*.d

# Drivers 폴더 제외 (ioc 파일로 재생성 가능)
**/Drivers/
rpi5_navi/db/*.db
hailort*.log
hailort*.log
